@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat&family=Noto+Sans:wght@300&family=Plus+Jakarta+Sans:wght@300&family=Roboto&display=swap');

body {
  margin: 0 auto;
  line-height: 1.6em;
  width: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
a {
  text-decoration: none;
}
/* Nav */
nav {
  background-color: #ffffff;
  height: 70px;
  display: flex;
  align-items: baseline;
}
.logo {
  position: absolute;
  top: 5px;
  left: 30px;
}
.topmenu {
  position: absolute;
  top: 20px;
  left: 200px;
}
.topmenu a {
  border-style: none;
  margin: 0px;
  padding: 10px 30px;
  color: black;
}
.topRightMenu {
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
}
.topRightMenu a {
  border-style: none;
  margin: 0px;
  padding: 10px 30px;
}

/*Header*/
header {
  background-color: #f8f8f8;
  height: 460px;
  position: relative;
}
header img {
  width: 600px;
  position: absolute;
  bottom: 0px;
  left: 10%;
}
.headerText {
  position: absolute;
  top: 20%;
  left: 60%;
  text-align: center;
}
.headerText h1 {
  line-height: 150%;
}
#blueBtn {
  width: 250px;
  height: 50px;
  padding: 10px;
  background-color: #0166ff;
  border-style: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
}
/* Main */
/* session 1 */
.main-inner {
  margin: 0 auto;
  position: relative;
}

#howItWorks {
  background-color: #f8f4ef;
}
.howItWorks_inner {
  width: 1280px;
  margin: 0 auto;
  padding: 15px;
}
.box-container{
  display: flex;
  justify-content: center;
}

.box {
  border-style: none;
  background-color: #fff;
  width: 300px;
  height: 250px;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 30px;
  display: inline-block;
}
.title {
  font-weight: bold;
}
/* session 2 */
#becomeTutor {
  background-color: #f8f4ef;
}
.becomeTutor_inner {
  width: 1280px;
  height: 380px;
  margin: 0 auto;
  padding: 15px;


}
.becomeTutor_inner article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.becomeLeft {
  width: 480px;
}
.becomeImg img{
  width: 480px;
  float: right;
}
/* session 3 : FAQs */

#faq {
  background-color: #f8f8f8;
}
.faq-inner1 {
  width: 1280px;
  margin: 0 auto;
  padding: 15px;
}
.faq-inner {
  width: 1280px;
}
.faq-inner h2 {
  margin-top: 15px;
}
.accordion-item {
  background-color: #f8f8f8;
  padding: 15px 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-bottom: 16px;
}
.accordion-item .title {
  cursor: pointer;
  /* padding-bottom: 15px; */
}
.accordion-item .title:after {
  font-family: "Font Awesome 5 Free"; 
  content: \f107;
  float: right;
  margin-top: 4px;
}
.accordion-item .title.active:after {
  transform: rotateX(180deg)
}
.accordion-item .title.active {
  padding-bottom: 15px;
}
.accordion-item .content {
  border-top: 1px solid #000;
  font-size: 16px;
  padding-top: 15px;
  display: none;
}
.morefaq{
  color: #0166ff;
  background-color: transparent;
  border-color: #0166ff;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  padding: 10px;
  font-size: 1rem;
}

/* footer */
footer {
  background-color: #273343;
}
.footer_inner{
  width: 1280px;
  margin: 0 auto;
  color: white;
}
footer a {
  color: white;
}
.footerbox_set {
  display: flex;
  justify-content: space-between;
}
.footerbox {
  display: inline-block;
  margin: 20px 0px 40px 0px;
  /* width: 180px; */
  vertical-align: top;
}
.footerbox a:hover {
  text-decoration: underline;
}
.footerbox_left{
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.footericons{
  display: flex;
}
.footericons > img{
  width: 40px;
}
.miniFooter {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 30px 0px;
}